In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [15]:
jumlah_pendapatan_asli_sektor_pariwisata_df = pd.read_csv('Files/pariwisata/od_15380_jml_pendapatan_asli_drh_bidang_pariwisata__sektor_wisa/data.jabarprov.go.id/disparbud-od_15380_jml_pendapatan_asli_drh_bidang_pariwisata__sektor_wisa_data.csv')

jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data = pd.read_csv('Files/pariwisata/od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan/data.jabarprov.go.id/disparbud-od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data.csv')

jumlah_seniman_berdasarkan_bidang_kesenian_data = pd.read_csv('Files/pariwisata/od_15396_jumlah_seniman_berdasarkan_bidang_kesenian/data.jabarprov.go.id/disparbud-od_15396_jumlah_seniman_berdasarkan_bidang_kesenian_data.csv')

jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin_data = pd.read_csv('Files/pariwisata/od_15408_jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin/data.jabarprov.go.id/disparbud-od_15408_jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin_data.csv')

jumlah_pengunjung_museum_berdasarkan_kabupatenkota_data = pd.read_csv('Files/pariwisata/od_15414_jumlah_pengunjung_museum_berdasarkan_kabupatenkota/data.jabarprov.go.id/disparbud-od_15414_jumlah_pengunjung_museum_berdasarkan_kabupatenkota_data.csv')

jml_pengunjung_tempat_rekreasi__jenis_wisatawan_data = pd.read_csv('Files/pariwisata/od_15420_jml_pengunjung_tempat_rekreasi__jenis_wisatawan/data.jabarprov.go.id/disparbud-od_15420_jml_pengunjung_tempat_rekreasi__jenis_wisatawan_data.csv')

jumlah_wisatawan_berdasarkan_kategori_data = pd.read_csv('Files/pariwisata/od_15422_jumlah_wisatawan_berdasarkan_kategori/data.jabarprov.go.id/disparbud-od_15422_jumlah_wisatawan_berdasarkan_kategori_data.csv')

In [16]:
jumlah_pendapatan_asli_sektor_pariwisata_df.head(10)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,sektor_wisata,jumlah_pendapatan,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,HOTEL,0,RUPIAH,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,RESTORAN/RUMAH MAKAN,27946638075,RUPIAH,2014
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,HIBURAN,7077430815,RUPIAH,2014
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,RETRIBUSI,485255100,RUPIAH,2014
4,5,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,HOTEL,0,RUPIAH,2014
5,6,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,RESTORAN/RUMAH MAKAN,0,RUPIAH,2014
6,7,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,HIBURAN,0,RUPIAH,2014
7,8,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,RETRIBUSI,1108916000,RUPIAH,2014
8,9,32,JAWA BARAT,3203,KABUPATEN CIANJUR,HOTEL,4337767572,RUPIAH,2014
9,10,32,JAWA BARAT,3203,KABUPATEN CIANJUR,RESTORAN/RUMAH MAKAN,2490761962,RUPIAH,2014

In [17]:
jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,54927,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,4075198,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,49985,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,2031979,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,7824,ORANG,2014

In [27]:
jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data.groupby(['tahun'])['jumlah_pengunjung'].sum()

tahun
2014    34677903
2015    39246588
2016    43703778
2017    45352200
2018    60811745
2019    47272074
2020    23365683
Name: jumlah_pengunjung, dtype: int64

In [18]:
jumlah_seniman_berdasarkan_bidang_kesenian_data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,bidang_kesenian,jumlah_seniman,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,KARAWITAN,186,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,TERATER,12,ORANG,2014
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEDALANG,97,ORANG,2014
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,SASTRA,37,ORANG,2014
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUPA,8,ORANG,2014

In [19]:
jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin_data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_tenaga_kerja,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,PRIA,61,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,WANITA,74,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PRIA,0,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,WANITA,0,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,PRIA,0,ORANG,2014

In [20]:
jumlah_pengunjung_museum_berdasarkan_kabupatenkota_data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,ORANG,2014
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,19011,ORANG,2014
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,ORANG,2014
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,ORANG,2014
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,1200,ORANG,2014

In [28]:
jumlah_pengunjung_museum_berdasarkan_kabupatenkota_data.groupby(['tahun'])['jumlah_pengunjung'].sum()

tahun
2014    2346106
2015    2351306
2016     612702
2017     537556
2018     294508
2019     217115
2020     197826
Name: jumlah_pengunjung, dtype: int64

In [21]:
jml_pengunjung_tempat_rekreasi__jenis_wisatawan_data.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,0,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,0,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,2849,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,111947,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,36518,ORANG,2014

In [29]:
jml_pengunjung_tempat_rekreasi__jenis_wisatawan_data.groupby(['tahun'])['jumlah_pengunjung'].sum()

tahun
2014     2954206
2015     2100697
2016     2293761
2017     2887009
2018    79719759
2019    68256265
2020    38429728
Name: jumlah_pengunjung, dtype: int64

In [22]:
jumlah_wisatawan_berdasarkan_kategori_data.head()

,id,kode_provinsi,nama_provinsi,kategori_wisatawan,jumlah_wisatawan,satuan,tahun
0,1,32,JAWA BARAT,WISATAWAN DOMESTIK,58728666,ORANG,2016
1,2,32,JAWA BARAT,WISATAWAN MANCANEGARA,4428094,ORANG,2016
2,3,32,JAWA BARAT,WISATAWAN DOMESTIK,59644070,ORANG,2017
3,4,32,JAWA BARAT,WISATAWAN MANCANEGARA,4984035,ORANG,2017
4,5,32,JAWA BARAT,WISATAWAN DOMESTIK,63298608,ORANG,2018

In [23]:
pd.options.display.max_columns = 9999
pd.options.display.max_rows = 9999
jumlah_pendapatan_asli_sektor_pariwisata_df.groupby(['tahun']).jumlah_pendapatan.sum()

tahun
2014     418335570521
2015     417325084798
2016     683836537661
2017     577090998453
2018    1931400790520
2019    3281099470550
2020    1366764061801
Name: jumlah_pendapatan, dtype: int64

In [24]:
fig = px.line(jumlah_pendapatan_asli_sektor_pariwisata_df.groupby(['tahun']).jumlah_pendapatan.sum())
fig.update_layout(title='Jumlah Pendapatan Asli Daerah Bidang Pariwisata (Sektor Wisata) di Jawa Barat',xaxis_title='Tahun', yaxis_title='Jumlah Pendapatan',showlegend=False)